<h1> Twoje zadanie </h1>

<p> Zadanie :</p>
<p> <%= @task.zadanie %> </p>
<p> Opis zadania :</p>
<p> <%= @task.opis_zadania %> </p>

<p> <%= link_to "Edytuj zadanie", edit_task_path %> </p>
<p> <%= link_to "Wszystkie zadania", tasks_path %> <p>